
.card-section {
    height: 435px;
}

.card {
    padding: 0px;
    height: 140px;
    font-size: 10px;
    
    .grabbing {
        cursor: grabbing;
        padding: 7px;
    }
}

.hide {
    display: none;
    padding: 0px;
    height: 140px;
    font-size: 10px;
}
