.loading {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 400px;
    width: 200px;
    padding: 100px 0 0 0;
}


.lock-page {

    height: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

}

